@import url('https://fonts.googleapis.com/css2?family=Lato&family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
  --orange-shade: hsl(30, 100%, 50%);
  --light-grey: #d0d0d0;
  --dark-blue-shade: #64748b;
  --all-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  --all-transition: all 0.3s linear;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

.container-div {
  width: 100%;
  height: auto;
  padding-top: 4rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
  transition: var(--all-transition);
}
@media (max-width: 768px) {
  .container-div {
      display: grid;
      grid-template-columns: 1fr;
    }
}

.wrapper {
  background: var(--light-grey);
  width: 400px;
  height: auto;
  margin: 0 auto;
  padding: 0.333rem;
  border-radius: 6px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.8);;
}

.btn-group {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  padding: 2px;
  margin-top: 1rem;
}

.screen {
  height: 80px;
  background: var(--dark-blue-shade);
  color: #fff;
  display: flex;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  justify-content: flex-end;
  align-items: center;
  padding-right: 6px;
  font-size: 1.333rem;
}

.orange {
  background: var(--orange-shade);
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 1px 3px rgb(255, 255, 255);
  text-align: center;
  border-radius: 6px;
  border: none;
  font-weight: bold;
}

.orange:hover {
  box-shadow: none;
  border: 2px solid #000;
  transition: var(--all-transition);
}

.lightgrey {
  background: var(--light-grey);
  height: 60px;
  box-shadow: 0 1px 3px rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  border: none;
  font-weight: bold;
}

.lightgrey:hover {
  box-shadow: none;
  border: 2px solid #000;
  transition: var(--all-transition);
}
.bottom {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  width: 100%;
  gap: 1rem;
  padding: 2px;
  padding-top: 1rem;
}
.quote-header {
  color: #64748b;
  margin-left: 1rem;
  text-transform: capitalize;

}
.quote {
  margin-left: 1rem;
  font-size: 2rem;
  font-weight: 400;
  font-style: italic;
  color: rgb(105, 103, 103);
}
.author {
  font-style: normal;
  color: #000;
  text-transform: uppercase;
  font-size: 1rem;
}